// VAR COLORS

$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-slider: #99e2d0;
$icons-delay: 610ms;
$gradient-loader: linear-gradient(
  to top,
  lighten($color-primary, 10%),
  $color-secondary,
  transparent,
  transparent
);

// MIXIN

@mixin highlight {
  background: linear-gradient(0deg, #9356dcc2 1%, #ff79dabd 99%);
  box-shadow: 3px 6px 4px rgba(0, 0, 0, 0.1450980392);
}

@mixin heart-animation {
  opacity: 100%;
}

@mixin slider {
  .slider {
    transform: scaleX(1);
    width: 15vw;
    @media screen and (min-width: 1024px) {
      width: 5vw;
    }
  }
}

@mixin checked-logo {
  img[alt="Symbole de validation"] {
    display: block;
  }
}

@mixin price-sliding {
  .slider p {
    margin-right: 24vw;
    @media screen and (min-width: 1024px) {
      margin-right: 10vw;
    }
  }
}

@mixin circle {
  border-radius: 50%;
}
