.loader {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000000e0;
  animation-name: Displaying-background;
  animation-duration: 5.1s;
  opacity: 0;
  animation-iteration-count: 1;
  z-index: -9;
}

.loading-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  border: 5px solid white;
  border-radius: 14px;
  box-shadow: 4px 4px 30px white, 4px 4px 30px #9356dcc2;
  animation-name: Displaying;
  animation-duration: 5s;
  animation-iteration-count: 1;
  &::before {
    content: "ohmyfood";
    color: black;
    font-size: 35px;
    padding: 0 2px;
    font-family: "Shrikhand", sans-serif;
    text-align: center;
    transform-origin: left;
    transform: scaleX(0);
    width: 200px;
    height: 50px;
    border-radius: 12px;
    background: linear-gradient(-90deg, #9356dcc2 1%, #ff79dabd 99%);
    animation-name: Fillin;
    animation-duration: 4.9s;
    animation-iteration-count: 1;
  }
}
